<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".Activity.Application.MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/splash"
        android:label=""
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Base.Theme.Dictionary"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".Activity.Test"
            android:exported="false" />
        <activity
            android:name=".Activity.View.Activity.EmptyActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.RegisterActivity.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.MainActivity.MainActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.LoginActivity.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.CategoryActivity.CategoryActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.AllAbumActivity.AllAlbumsActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.RecentActivity.RecentActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.PlaylistActivity.PlaylistActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.FavouriteArtistActivity.FavouriteArtistActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.ThemeActivity.ThemeActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.ArtistActivity.ArtistActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.VIewSongActivity.ViewSongActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.LibActivity.LibActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.AlbumActivity.AlbumActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.SplashActivity.SplashActivity"
            android:windowSoftInputMode="adjustPan"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            tools:ignore="DuplicateActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".Activity.Service.MyService" />

        <receiver android:name=".Activity.Broadcast.MyReciever" />
        <receiver android:name=".Activity.Broadcast.ViewFragmentBroadcast" />
    </application>

</manifest>